<style>
/* Reset default styles */
* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 8000ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
.blockb:hover {
  background: #06d899;
}
.blockb{
  margin-left: 40%;
  margin-top: 30px; 
   background-color: #5a04bd;
   
}
.blockb {
  display: block;
  margin: 20px auto;
}

/* ... other specific styles */
</style>
<div id="popup1" class="overlay">
	<div class="popup">
		<a class="close" href="/create">&times;</a>
		<div class="content">
		<div class="card">
    
 
    <p>Passport Deatils: <strong>{{result.passport_no}}</strong></p>
    
    <div class="details">
      <p>passport edited</p>
     


    </div>
	
  </div>

		</div>